POSTGRES_URL=
POSTGRES_URL_DIRECT=
AUTH_SECRET=
APP_URL=http://localhost:3000
DATABASE_URL_TEST=
ENCRYPTION_KEY=
BLING_CLIENT_ID=
BLING_CLIENT_SECRET=
BLING_REDIRECT_URI=http://localhost:3000/api/connections/bling/callback
BLING_API_BASE=https://www.bling.com.br/Api/v3
