@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-bg-base text-white antialiased font-sans;
  }

  h1,
  h2,
  h3,
  h4 {
    @apply font-heading;
  }

  /* Thin dark scrollbar */
  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  ::-webkit-scrollbar-track {
    background: #040507;
  }

  ::-webkit-scrollbar-thumb {
    background: #ffffff1a;
    border-radius: 3px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.2);
  }

  /* Selection */
  ::selection {
    background: #07dd2b;
    color: #04150a;
  }
}
